* {
    font-family: 'Inter', sans-serif;
}

body {
    padding: 32px;
    margin: 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}

.logo--text {
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #243e63;
    margin: 0 24px;
    font-size: 14px;
}

.text--purple {
    color: #6415ff;
}

.sign--up {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px;
    border-radius: 24px;
}

.landing__content {
    display: flex;
    padding: 96px 0;
    margin: 0 auto;
}

.landing__text {
    width: 40%;
    height: 100%;
}

.landing__img {
    width: 60%;
}

.landing__header {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.landing__para {
    font-size: 18px;
    color: #243e63;
    line-height: 1.5;
}
